Package: com.wrp1002.notiflives
Name: NotifLives
Version: 1.1.2
Architecture: iphoneos-arm
Description: Get 1UPs from notifications!
Maintainer: Wes <wes.hamster@gmail.com>
Author: Wes <wes.hamster@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, ws.hbang.common (>= 1.2), net.limneos.libbulletin, com.opa334.altlist